/* ----------------------- vars ----------------------- */
:root {
    --black: #32292F;
    --black-light: #32292F70;
    --white: #F0F7F4;
    --primary: #C3A6E8;
    --primary-light: #C3A6E850;
    --secondary: #259CA4;
    --accent: #2C4251;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* ----------------------- navigation bars ----------------------- */
.nav-bar {
    align-items: center;
    margin: 0;
    padding: 10px 0;
    background-color: var(--white);
    width: 100%;
    height: auto;
    display: flex;
}

.nav-bar button {
    font-size: 2em;
    border: none;
    background-color: transparent;
    display: inline;
    margin: 0 5px;
    padding: 5px 20px;
}

.nav-bar form:first-of-type {
    margin-left: 10px;
}

.nav-bar button:hover {
    color: var(--black-light);
}

#current-page button {
    background-color: var(--accent);
    color: var(--white);
    border-radius: 10px;
}

#current-page button:hover {
    color: var(--primary);
}

/* ----------------------- homepage ----------------------- */
a {
    color: var(--secondary)
}

#home {
    margin-top: 300px;
    margin-bottom:500px;
}

#signature {
    float: right;
    max-width: fit-content;
    padding-right: 100px;
}

#about {
    width: 90%;
    height: fit-content;
    background-color: var(--white);
    margin: auto;
    margin-bottom: 100px;
    padding: 50px 0;
    border-radius: 20px;
}

#about p, #about h1 {
    text-align: start;
    width: 90%;
    margin: auto;
    color: var(--black);
}

#about > h1 {
    padding: 0;
    margin-top: 0px;
    margin-bottom: 20px;
}

#about p {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.5em;
    line-height: 150%;
    width: 90%;
}

/* ----------------------- database ----------------------- */
#gradient {
    background-image: linear-gradient(to bottom, var(--primary), var(--secondary));
    border-top: 1px solid var(--white);
    padding-bottom: 1px;
}

.form {
    margin: auto;
    text-align: center;
    justify-content: center;
    display: flex;
    width: 30%;
    height: 50px;
}

.searchbar-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 10px;
}

.searchbar-wrapper input {
    padding: 5%;
    width: 95%;
    background-color: transparent;
}

.searchbar-wrapper input, .searchbar-wrapper input:focus {
    border: none;
    outline: none;
}

.display {
    align-items: center;
    align-content: end;
    width: 90%;
    height: 100%;
    background-color: var(--white);
    display: block;
    border-radius: 30px;
    margin: 50px auto;
    border: 1px solid transparent;
}

.div {
    width: 90%;
    border: 1px solid transparent;
    margin: 10px auto;
    padding: 10px;
}

hr {
    background: linear-gradient(to right, var(--primary), var(--secondary));
    height: 4px;
    width: 90%;
    margin: auto;
    border-radius: 15px;
}

#basic-info{
   min-height: fit-content;
}

h2 {
    text-align: center;
    margin: auto;
    font-size: 2.5em;
    margin-bottom: 5px;
    margin-top: 15px;
}

a {
    text-decoration: none;
}

#basic-info p:first-of-type,  #adm-rate-display {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

#adm-rate-display {
    font-weight: bold;
    color: var(--secondary);
}

#basic-info p {
    text-align: center;
    margin: auto;
    font-size: 2em;
}

#program-chart, #ethnic-chart {
    margin: auto;
    width: 100%;
}

.test-scores {
    column-count: 2;
    column-gap: 20px;
}

h3 {
    font-size: 1.75em;
    margin-bottom: 5px;
    display: block;
}

.test-column {
    text-align: center;
    width: 100%;
    margin: auto;
    border: 1px solid var(--accent);
    border-radius: 15px;
}

#pricing {
    width: 85%;
    margin: auto;
}

.stat-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.stat-container p, #pricing p {
    text-align: start;
    margin: 1em;
    font-size: 1.25em;
}

.empty {
    color: var(--white);
}

.important {
    font-weight: bold;
    color: var(--secondary)
}

.note {
    text-align: center;
    margin:auto;
    margin-top: 20px;
    font-size: 0.75em;
}

/* ----------------------- map ----------------------- */
#map-container {
    display: flex;
    align-items: center;
    width: calc(90vw + 30px);
    height: calc(90vh + 30px);
    margin: auto;
    margin-bottom: 30px;
    background-color: var(--white);
    border-radius: 30px;
}

#map {
    width: 90vw;
    height: 90vh;
    margin: auto;
    border-radius: 20px;
    border: 2px solid var(--accent);
}

/* ----------------------- General ----------------------- */
h2, h3, p, label, input, pre, button{
    color: var(--black);
    font-family: sans-serif;
}

h1 {
    color: var(--white);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 3em;
}

.border {
    border: solid;
}

html {
    background-color: var(--white);
}

body, header, html {
    margin: 0;
}

.title {
    font-size: 5em;
    text-align: center;
}

/* ----------------------- Mobile ----------------------- */
@media only screen and (max-width: 768px) {
    body {
        padding-bottom: 0;
    }
    
    .nav-bar {
        display: flex;
        justify-content: space-evenly;
    }

    .nav-bar form:first-of-type {
        margin-left: 0;
    }

    .nav-bar button {
        font-size: 1.25em;
    }

    .title {
        font-size: 3em;
    }

    h1 {
        font-size: 1.5em;
    }

    #about {
        padding: 30px 0;
    }

    #about p {
        font-size: 0.8em;
    }

    #home {
        margin-top: 100px;
        margin-bottom:200px;
    }
    
    .form {
        width: 70%;
        height: 40px;
    }
    
    .searchbar-wrapper input {
        font-size: 0.8em;
    }
    
    .display {
        margin: 30px auto;
    }
    
    .div {
        margin: 5px auto;
        padding: 5px;
    }
    
    hr {
        height: 2px;
    }
    
    h2 {
        font-size: 1.35em;
        margin-bottom: 3px;
        margin-top: 10px;
    }
    
    #basic-info p:first-of-type,  #adm-rate-display {
        font-size: 0.8em;
        margin-bottom: 10px;
    }

    #basic-info p {
        font-size: 1em;
    }
    
    h3 {
        font-size: 1.25em;
        margin-bottom: 3px;
    }
    
    .test-column p, #pricing p {
        font-size: 0.65em;
    }
    
    .note {
        font-size: 0.5em;
    }

    #map-container {
        margin-bottom: 15px;
        padding: 3px;
        border-radius: 30px;
    }
    
    #map {
        width: 97%;
        height: 97%;
        border: 1px solid var(--accent);
    }
}