<!DOCTYPE html>
<html lang="en">
<header>
    <!--<link rel="stylesheet" href="styles.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Database</title>
    <div class="nav-bar">
        <form id="current-page" action="{{ url_for('home') }}" method="post">
            <button type="submit">Home</button>
        </form>
        <form action="{{ url_for('database') }}" method="post">
            <button type="submit">Database</button>
        </form>
        <form action="{{ url_for('filter') }}" method="post">
            <button type="submit">Map</button>
        </form>
    </div>
</header>
<body>
    <div id="gradient">
        <h1 class="title" id="home">University Database</h1>
        <div id="about">
            <h1>About This Project</h1>
            <p>College is something all students at some point in their lives worry about. This project aims to filter out through 6,000 schools in the US and act as a database of each of those schools. All the data is parsed from the <a href="https://collegescorecard.ed.gov/data/" target="_blank">government database.</a> The entire project repository is on my <a href="https://github.com/travis-dao/University-Database" target="_blank">Git Hub</a>. If you have any feedback, send it through this Google form.</p>
            <p id="signature">Travis Dao</p>
        </div>
    </div>
</body>
</html>