<!DOCTYPE html>
<html lang="en">
<head>
    <title>University Database</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--<link rel="stylesheet" href="styles.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<header>
    <div class="nav-bar">
        <form id="logo" action="{{ url_for('home') }}" method="post">
            <button type="submit">University Database</button>
        </form>

        <a href="javascript:void(0);" class="icon" onclick="mobileNavbar()">
            <i class="fa fa-bars"></i>
        </a>

        <div id="buttons">
            <form action="{{ url_for('database') }}" method="post">
                <button type="submit">Database</button>
            </form>
            <form action="{{ url_for('reference') }}" method="post">
                <button type="submit">Reference</button>
            </form>
            <form id="current-page" action="{{ url_for('map') }}" method="post">
                <button type="submit">Map</button>
            </form>
        </div>
        <script src="{{ url_for('static', filename='navbar.js') }}"></script>
    </div>
</header>
<body id="gradient">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
            crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css" />
    <script src="https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js"></script>

    <h1 class="title">Map</h1>
    <div id="map-container">
        <div id="map"></div>
    </div>
    <script src="{{ url_for('static', filename='map.js') }}"></script>
</body>
</html>