<!DOCTYPE html>
<html lang="en">
<head>
    <title>University Database</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="styles.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<header>
    <div class="nav-bar">
        <form id="logo" action="{{ url_for('home') }}" method="post">
            <button type="submit">University Database</button>
        </form>
        <div id="buttons">
            <form action="{{ url_for('database') }}" method="post">
                <button type="submit">Database</button>
            </form>
            <form id="current-page" action="{{ url_for('reference') }}" method="post">
                <button type="submit">Reference</button>
            </form>
            <form action="{{ url_for('map') }}" method="post">
                <button type="submit">Map</button>
            </form>
        </div>
    </div>
</header>
<body id="gradient">
    <h1 class="title">Reference</h1>
    <div class="display">
        <p id="reference"></p>
    </div>
    <script src="{{ url_for('static', filename='reference.js') }}"></script>
</body>
</html>